.alert__hidden {
    visibility: hidden;
}

.alert__errorAlert {
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 448px;
    height: 62px;
    margin: 26px;
    background-color: rgba(255, 0, 0, 0.1);
    border-radius: 8px;
    width: 35%;
}

.alert__txt {
    color: "#B00020";
    padding-left: 7px;
    margin-top: 7px;
}


@media screen and (max-width :768px) {
    .alert__errorAlert {
        width: 60%;
    }


}

@media screen and (max-width :480px) {
    .alert__errorAlert {
        width: 70%;
    }

}