footer {
    position: sticky;
    bottom: 0;
    box-shadow: 6px 0px 0px 0px rgba(0, 0, 0, 0.5);
    background-color: $primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block-start: 10px;
    padding-block-end: 10px;
}

footer>h4 {
    color: whitesmoke;
    padding-inline-start: 30px;
}

.footer__icons {
    color: white;
    padding-inline-end: 20px;

}

.footer__icon {
    font-size: 28px;
    padding-inline-end: 30px;
    color: white;
}


@media screen and (max-width :480px) {
    .footer__icon {
        display: none;
    }
}