.tabletCarousel__container-img {
    position: relative;
    max-width: 768px;
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabletCarousel__images {
    width: 100%;
    height: 100%;

    .swiper-wrapper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        width: 100%;
        height: 100%;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper-pagination {
        width: 40%;
        position: absolute;
        text-align: end;
        transition: 300ms opacity;
        transform: translate3d(0, 0, 0);
        z-index: 10;
    }

    .swiper-pagination-fraction {
        left: auto;
        right: 6%;
        bottom: 2%;
        font-size: 16px;
        color: #DFE4EA;
    }
}

